$color_1: #000000;
$font-family_1: "Rubik", sans-serif;

.container {
	width: 1300px;
	height: 800px;
	background: #b5b6b5;
	position: absolute;
	left: 300px;
}
.settings {
	width: 270px;
	height: 250px;
	background: #a72828;
	position: absolute;
	top: 60px;
	left: 30px;
}
.code {
	width: 500px;
	height: 200px;
	background: #59a372;
	position: absolute;
	top: 450px;
	left: 70px;
}
.result {
	width: 400px;
	height: 200px;
	background: #279bbe;
	position: absolute;
	top: 150px;
	left: 800px;
}
.resultText {
	color: $color_1;
	background: #000000;
	font-size: 0px;
	border: none;
	font-family: $font-family_1;
}
h1 {
	display: inline-block;
	font-size: 20px;
	font-family: $font-family_1;
}
input {
	margin-left: 20px;
	margin-bottom: -3px;
	display: inline-block;
	width: 100px;
}
#codeText {
	position: absolute;
	top: 11px;
	left: 27px;
}
.changeBG {
	position: absolute;
	left: 30px;
}
.bgEnable {
	position: absolute;
	top: -15px;
	font-family: $font-family_1;
}
.borderCheck {
	position: relative;
	right: 60px;
	top: -1.5px;
}
.colorBorder {
	position: absolute;
	left: 80px;
	top: 158px;
}
.borderSize {
	position: absolute;
	bottom: 69px;
	width: 20px;
}
.textShadowSetting {
	width: 133px;
	height: 50px;
	background: #6f706f;
	border: solid black 1px;
	position: absolute;
	top: 8px;
	left: 90px;
	cursor: pointer;
	text-align: center;
	h1 {
		font-size: 18px;
	}
}
.textShadowScreen {
	width: 300px;
	height: 230px;
	background: #2c3133;
	position: absolute;
	left: 209px;
	top: 60px;
}
.shadowSetting2{
	position: absolute;
	display: inline-block;
	left: 500px;
	
}
