.container {
    width: 1300px;
    height: 800px;
    background: #b5b6b5;
    position: absolute;
    left: 300px;
}
.settings {
    width: 270px;
    height: 250px;
    background: #a72828;
    position: absolute;
    top: 60px;
    left: 30px;
}
.code {
    width: 500px;
    height: 200px;
    background: #59a372;
    position: absolute;
    top:450px;
    left: 70px;
}
.result {
    width: 400px;
    height: 200px;
    background: #279bbe;
    position: absolute;
    top:150px;
    left: 800px;
}
.resultText{
    color: #000000;
    background: #000000;
    font-size: 0px;
    border: none;
    font-family:"Rubik", sans-serif;
}
h1 {
    display: inline-block;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}
input {
    margin-left: 20px;
    margin-bottom: -3px;
    display:inline-block;
    width: 100px;
}
#codeText {
    position: absolute;
    top:11px;
    left: 27px;
}
.changeBG {
    position: absolute;
    left: 30px;
}
.bgEnable {
    position: absolute;
    top: -15px;
    font-family: "Rubik", sans-serif;
}
.borderCheck {
    position: relative;
    right: 60px;
    top: -1.5px;
  }
.colorBorder {
    position: absolute;
    left: 80px;
    top: 158px;
}